<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Redirect all traffic to the dist folder if it's not already there
  # Note: Hostinger users often have the domain pointed to the root
  # If you can, change the "Document Root" to /dist in Hostinger Panel.
  
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
